.flex_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box img {
  margin-right: 5px;
}
.box a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box a > span {
  font-size: 12px;
  line-height: 1.42857143;
  opacity: 0.65;
}
.logo {
  width: 255px;
  padding-top: 20px;
}
.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo a > img {
  width: 200px;
  width: 100%;
  max-width: 200px;
}
